.multi-select-dropdown {
    width: 100%;
    position: relative;
  }
  
  .selected-options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 5px;
  }
  
  .tag {
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    align-items: center;
  }
  
  .tag button {
    margin-left: 5px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
  }
  
  .dropdown {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #1a1a1a;
    list-style: none;
    margin: 0;
    padding: 0;
    max-height: 200px;
    overflow-y: auto;
    z-index: 10;
    border: 1px solid #555;
  }
  
  .dropdown li {
    padding: 10px;
    cursor: pointer;
  }
  
  .dropdown li:hover {
    background-color: #555;
  }
  